parameters:
	ignoreErrors:
		-
			rawMessage: 'PHPDoc tag @var with type list<string>|null is not subtype of type array<int<0, max>|string, list<string>|string>|string.'
			identifier: varTag.type
			count: 1
			path: src/Rector/AddHasFluentRulesTraitRector.php

		-
			rawMessage: 'Parameter #1 $configuration (array<int<0, max>|string, list<string>|string>) of method SanderMuller\FluentValidationRector\Rector\AddHasFluentRulesTraitRector::configure() should be contravariant with parameter $configuration (array<mixed>) of method Rector\Contract\Rector\ConfigurableRectorInterface::configure()'
			identifier: method.childParameterType
			count: 1
			path: src/Rector/AddHasFluentRulesTraitRector.php

		-
			rawMessage: 'Class cognitive complexity is 198, keep it under 80'
			identifier: complexity.classLike
			count: 1
			path: src/Rector/GroupWildcardRulesToEachRector.php

		-
			rawMessage: 'Cognitive complexity for "SanderMuller\FluentValidationRector\Rector\GroupWildcardRulesToEachRector::applyGroups()" is 54, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: src/Rector/GroupWildcardRulesToEachRector.php

		-
			rawMessage: 'Cognitive complexity for "SanderMuller\FluentValidationRector\Rector\GroupWildcardRulesToEachRector::buildNestedItems()" is 31, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: src/Rector/GroupWildcardRulesToEachRector.php

		-
			rawMessage: 'Cognitive complexity for "SanderMuller\FluentValidationRector\Rector\GroupWildcardRulesToEachRector::groupRulesArray()" is 24, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: src/Rector/GroupWildcardRulesToEachRector.php

		-
			rawMessage: Access to an undefined property PhpParser\Node\Stmt::$stmts.
			identifier: property.notFound
			count: 1
			path: src/Rector/ValidationArrayToFluentRuleRector.php

		-
			rawMessage: 'Argument of an invalid type mixed supplied for foreach, only iterables are supported.'
			identifier: foreach.nonIterable
			count: 1
			path: src/Rector/ValidationArrayToFluentRuleRector.php

		-
			rawMessage: 'Cognitive complexity for "SanderMuller\FluentValidationRector\Rector\ValidationArrayToFluentRuleRector::buildModifierCall()" is 25, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: src/Rector/ValidationArrayToFluentRuleRector.php

		-
			rawMessage: Access to an undefined property PhpParser\Node\Stmt::$stmts.
			identifier: property.notFound
			count: 1
			path: src/Rector/ValidationStringToFluentRuleRector.php

		-
			rawMessage: 'Argument of an invalid type mixed supplied for foreach, only iterables are supported.'
			identifier: foreach.nonIterable
			count: 1
			path: src/Rector/ValidationStringToFluentRuleRector.php

		-
			rawMessage: 'Cognitive complexity for "SanderMuller\FluentValidationRector\Rector\ValidationStringToFluentRuleRector::buildModifierCall()" is 25, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: src/Rector/ValidationStringToFluentRuleRector.php

		-
			rawMessage: Access to an undefined property PhpParser\Node\Stmt::$stmts.
			identifier: property.notFound
			count: 1
			path: src/Rector/ConvertLivewireRuleAttributeRector.php

		-
			rawMessage: 'Argument of an invalid type mixed supplied for foreach, only iterables are supported.'
			identifier: foreach.nonIterable
			count: 1
			path: src/Rector/ConvertLivewireRuleAttributeRector.php

		-
			rawMessage: 'Cognitive complexity for "SanderMuller\FluentValidationRector\Rector\ConvertLivewireRuleAttributeRector::buildModifierCall()" is 25, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: src/Rector/ConvertLivewireRuleAttributeRector.php
