parameters:
	ignoreErrors:
		-
			rawMessage: 'Class cognitive complexity is 181, keep it under 80'
			identifier: complexity.classLike
			count: 1
			path: src/Rector/GroupWildcardRulesToEachRector.php
		-
			rawMessage: 'Class cognitive complexity is 88, keep it under 80'
			identifier: complexity.classLike
			count: 1
			path: src/Rector/AddHasFluentValidationTraitRector.php
