parameters:
	ignoreErrors:
		-
			rawMessage: 'PHPDoc tag @var with type list<string>|null is not subtype of type array<int<0, max>|string, list<string>|string>|string.'
			identifier: varTag.type
			count: 1
			path: src/Rector/AddHasFluentRulesTraitRector.php

		-
			rawMessage: 'Parameter #1 $configuration (array<int<0, max>|string, list<string>|string>) of method SanderMuller\FluentValidationRector\Rector\AddHasFluentRulesTraitRector::configure() should be contravariant with parameter $configuration (array<mixed>) of method Rector\Contract\Rector\ConfigurableRectorInterface::configure()'
			identifier: method.childParameterType
			count: 1
			path: src/Rector/AddHasFluentRulesTraitRector.php

		-
			rawMessage: 'Class cognitive complexity is 209, keep it under 80'
			identifier: complexity.classLike
			count: 1
			path: src/Rector/GroupWildcardRulesToEachRector.php

		-
			rawMessage: 'Cognitive complexity for "SanderMuller\FluentValidationRector\Rector\GroupWildcardRulesToEachRector::applyGroups()" is 54, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: src/Rector/GroupWildcardRulesToEachRector.php

		-
			rawMessage: 'Cognitive complexity for "SanderMuller\FluentValidationRector\Rector\GroupWildcardRulesToEachRector::buildNestedItems()" is 31, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: src/Rector/GroupWildcardRulesToEachRector.php

		-
			rawMessage: 'Cognitive complexity for "SanderMuller\FluentValidationRector\Rector\GroupWildcardRulesToEachRector::groupRulesArray()" is 24, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: src/Rector/GroupWildcardRulesToEachRector.php

		-
			rawMessage: 'Cognitive complexity for "SanderMuller\FluentValidationRector\Rector\SimplifyFluentRuleRector::simplifyChain()" is 38, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: src/Rector/SimplifyFluentRuleRector.php

		-
			rawMessage: Use explicit methods over array access on object
			identifier: typePerfect.noArrayAccessOnObject
			count: 2
			path: src/Rector/SimplifyFluentRuleRector.php

		-
			rawMessage: Access to an undefined property PhpParser\Node\Stmt::$stmts.
			identifier: property.notFound
			count: 1
			path: src/Rector/ValidationArrayToFluentRuleRector.php

		-
			rawMessage: 'Argument of an invalid type mixed supplied for foreach, only iterables are supported.'
			identifier: foreach.nonIterable
			count: 1
			path: src/Rector/ValidationArrayToFluentRuleRector.php

		-
			rawMessage: 'Class cognitive complexity is 157, keep it under 80'
			identifier: complexity.classLike
			count: 1
			path: src/Rector/ValidationArrayToFluentRuleRector.php

		-
			rawMessage: 'Cognitive complexity for "SanderMuller\FluentValidationRector\Rector\ValidationArrayToFluentRuleRector::buildModifierCall()" is 25, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: src/Rector/ValidationArrayToFluentRuleRector.php

		-
			rawMessage: 'Cognitive complexity for "SanderMuller\FluentValidationRector\Rector\ValidationArrayToFluentRuleRector::detectRuleFactoryType()" is 22, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: src/Rector/ValidationArrayToFluentRuleRector.php

		-
			rawMessage: 'Offset ''date''|''email''|''file''|''image''|''numeric''|''string'' on array{string: array{''alpha'', ''alphaDash'', ''alphaNumeric'', ''ascii'', ''between'', ''doesntEndWith'', ''doesntStartWith'', ''endsWith'', ...}, numeric: array{''between'', ''decimal'', ''different'', ''digits'', ''digitsBetween'', ''greaterThan'', ''greaterThanOrEqualTo'', ''lessThan'', ...}, date: array{''format'', ''beforeToday'', ''afterToday'', ''todayOrBefore'', ''todayOrAfter'', ''before'', ''after'', ''beforeOrEqual'', ...}, email: array{''rfcCompliant'', ''strict'', ''validateMxRecord'', ''preventSpoofing'', ''withNativeValidation'', ''max'', ''confirmed'', ''same'', ...}, file: array{''min'', ''max'', ''between'', ''exactly'', ''extensions'', ''mimes'', ''mimetypes''}, image: array{''min'', ''max'', ''between'', ''exactly'', ''extensions'', ''mimes'', ''mimetypes'', ''allowSvg'', ...}} on left side of ?? always exists and is not nullable.'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Rector/ValidationArrayToFluentRuleRector.php

		-
			rawMessage: Access to an undefined property PhpParser\Node\Stmt::$stmts.
			identifier: property.notFound
			count: 1
			path: src/Rector/ValidationStringToFluentRuleRector.php

		-
			rawMessage: 'Argument of an invalid type mixed supplied for foreach, only iterables are supported.'
			identifier: foreach.nonIterable
			count: 1
			path: src/Rector/ValidationStringToFluentRuleRector.php

		-
			rawMessage: 'Cognitive complexity for "SanderMuller\FluentValidationRector\Rector\ValidationStringToFluentRuleRector::buildModifierCall()" is 25, keep it under 20'
			identifier: complexity.functionLike
			count: 1
			path: src/Rector/ValidationStringToFluentRuleRector.php
